<footer>
    <p>&copy; 2024 Flower Shop. All rights reserved.</p>
</footer>

<footer class="bg-dark text-light py-4">
    <div class="container text-center">
        <p>&copy; 2024 Flower Shop. All Rights Reserved.</p>
        <p>Follow us on:</p>
        <div class="d-flex justify-content-center">
            <a href="#" class="me-3 text-light"><i class="fab fa-facebook"></i> Facebook</a>
            <a href="#" class="me-3 text-light"><i class="fab fa-instagram"></i> Instagram</a>
            <a href="#" class="text-light"><i class="fab fa-twitter"></i> Twitter</a>
        </div>
    </div>
</footer>
