{% extends 'base.html' %} {% block content %}

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Update Info</h1>
      <p class="lead fw-normal text-white-50 mb-0">Update User Info...</p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br /><br />
      <!-- <form method="POST" action="{% url 'update_info' %}">
    {% csrf_token %}
    
    {{ form.as_p }}
    <br/><br/>
    <button type="submit" class="btn btn-secondary">
      Update Profile
    </button>
</form> -->

      <form method="POST" class="card-body" action="{% url 'update_info' %}">
        {% csrf_token %}

        <!--address-->
        <div class="md-form mb-5">
          <label for="address" class="">Address</label>
          {{ form.address1 }}
        </div>

        <!--address-2-->
        <div class="md-form mb-5">
          <label for="address-2" class="">Address 2 (optional)</label>
          {{ form.address2 }}
        </div>

        <!--Grid row-->
        <div class="row mb-5">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-6">
            <label for="country">Country</label>
            {{ form.country }}
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-6">
            <label for="country">City</label>
            {{ form.city }}
          </div>

          <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Phone and Email-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-6">
            <label for="customer_phone">Phone</label>
            {{ form.phone }}
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-6">
            <label for="zip">Zip</label>
            {{ form.zipcode }}
            <div class="invalid-feedback">Zip code required.</div>
          </div>
          <!--Grid column-->
        </div>
        <br /><br />
        <button type="submit" class="btn btn-secondary">Update Profile</button>
      </form>

      <br /><br />

      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
      <br /><br />
    </div>
  </div>
</div>

{% endblock %}
